In [89]:
import pandas as pd
from sqlalchemy import create_engine

import pymysql
pymysql.install_as_MySQLdb()

### Extract the CSVs into DataFrames

In [90]:
crime_rate_csv = "Resources/2016_Annual_Crime_Data.csv"
crime_rate_df = pd.read_csv(crime_rate_csv)
crime_rate_df.head()

,GO Primary Key,Council District,GO Highest Offense Desc,Highest NIBRS/UCR Offense Description,GO Report Date,GO Location,Clearance Status,Clearance Date,GO District,GO Location Zip,GO Census Tract,GO X Coordinate,GO Y Coordinate
0,"201,610,188",8.0,AGG ASLT ENHANC STRANGL/SUFFOC,Agg Assault,1-Jan-16,8600 W SH 71 ...,C,12-Jan-16,D,78735.0,19.08,"3,067,322","10,062,796"
1,"201,610,643",9.0,THEFT,Theft,1-Jan-16,219 E 6TH ST ...,C,4-Jan-16,G,78701.0,11,"3,114,957","10,070,462"
2,"201,610,892",4.0,AGG ROBBERY/DEADLY WEAPON,Robbery,1-Jan-16,701 W LONGSPUR BLVD ...,N,3-May-16,E,78753.0,18.23,"3,129,181","10,106,923"
3,"201,610,893",9.0,THEFT,Theft,1-Jan-16,404 COLORADO ST ...,N,22-Jan-16,G,78701.0,11,"3,113,643","10,070,357"
4,"201,611,018",4.0,SEXUAL ASSAULT W/ OBJECT,Rape,1-Jan-16,NaN,C,10-Mar-16,E,78753.0,18.33,NaN,NaN

In [91]:
graduation_rates_csv = "Resources/Austin_High_School_Graduation_Rates.csv"
graduation_rates_df = pd.read_csv(graduation_rates_csv)
graduation_rates_df.head()

,School Type,District,School,2016 Class Size,2016 Graduated,2016 Rate,2015 Class Size,2015 Graduated,2015 Rate,2014 Class Size,2014 Graduated,2014 Rate,2013 Class Size,2013 Graduated,2013 Rate,2012 Class Size,2012 Graduated,2012 Rate
0,Public,Austin ISD,Akins High School,656,506,0.77,641.0,517.0,0.81,648.0,473.0,0.73,690.0,486.0,0.70,718.0,540.0,0.75
1,Public,Austin ISD,Anderson High School,610,537,0.88,514.0,452.0,0.88,586.0,508.0,0.87,494.0,414.0,0.84,531.0,439.0,0.83
2,Public,Austin ISD,Austin HS,530,447,0.84,552.0,463.0,0.84,537.0,444.0,0.83,571.0,471.0,0.82,610.0,509.0,0.83
3,Public,Austin ISD,Bowie HS,742,655,0.88,712.0,627.0,0.88,724.0,635.0,0.88,743.0,639.0,0.86,769.0,640.0,0.83
4,Public,Austin ISD,Crockett Early College HS,403,332,0.82,356.0,281.0,0.79,385.0,290.0,0.75,420.0,300.0,0.71,420.0,287.0,0.68

### Transform the DataFrames

In [116]:
crime_rate_df.head()
crime_rate_df.drop(columns=['GO Primary Key', 'Highest NIBRS/UCR Offense Description', 'Clearance Status', 'Clearance Date', 'GO Census Tract', 'GO X Coordinate', 'GO Y Coordinate'])

,Council District,GO Highest Offense Desc,GO Report Date,GO Location,GO District,GO Location Zip
0,8.0,AGG ASLT ENHANC STRANGL/SUFFOC,1-Jan-16,8600 W SH 71 ...,D,78735.0
1,9.0,THEFT,1-Jan-16,219 E 6TH ST ...,G,78701.0
2,4.0,AGG ROBBERY/DEADLY WEAPON,1-Jan-16,701 W LONGSPUR BLVD ...,E,78753.0
3,9.0,THEFT,1-Jan-16,404 COLORADO ST ...,G,78701.0
4,4.0,SEXUAL ASSAULT W/ OBJECT,1-Jan-16,NaN,E,78753.0
5,1.0,DEADLY CONDUCT,1-Jan-16,8002 TAPO LN ...,C,78724.0
6,3.0,ROBBERY BY ASSAULT,1-Jan-16,1601 ROYAL CREST DR ...,H,78741.0
7,3.0,AGG ASSAULT FAM/DATE VIOLENCE,1-Jan-16,1600 WICKERSHAM LN ...,H,78741.0
8,5.0,AGG ASLT STRANGLE/SUFFOCATE,1-Jan-16,4009 VICTORY DR ...,D,78704.0
9,5.0,BURGLARY NON RESIDENCE,1-Jan-16,811 W SLAUGHTER LN ...,F,78748.0
10,4.0,BURGLARY OF RESIDENCE,1-Jan-16,8930 GALEWOOD DR ...,E,78758.0
11,4.0,AUTO THEFT,1-Jan-16,9619 POINT VISTA PL ...,E,78753.0
12,2.0,AUTO THEFT,1-Jan-16,4323 S IH 35 SVRD NB ...,F,78744.0
13,2.0,DEADLY CONDUCT,1-Jan-16,5804 NEEDLE NOOK CT ...,F,78744.0
14,5.0,BURGLARY OF RESIDENCE,1-Jan-16,10800 RIVER PLANTATION DR ...,F,78747.0
15,5.0,BURGLARY OF RESIDENCE,1-Jan-16,9409 BERNOULLI DR ...,F,78748.0
16,9.0,AGG ASLT STRANGLE/SUFFOCATE,1-Jan-16,1100 E OLTORF ST ...,H,78704.0
17,7.0,AGG ASSAULT FAM/DATE VIOLENCE,1-Jan-16,5515 WOODROW AVE ...,I,78756.0
18,9.0,RAPE,1-Jan-16,NaN,B,78751.0
19,6.0,BURGLARY OF RESIDENCE,1-Jan-16,4400 ANDALUSIA DR ...,A,78759.0
20,9.0,BURGLARY OF RESIDENCE,1-Jan-16,2338 WILSON ST ...,D,78704.0
21,9.0,BURGLARY OF RESIDENCE,1-Jan-16,2041 ZACH SCOTT ST ...,B,78723.0
22,9.0,BURGLARY NON RESIDENCE,1-Jan-16,323 E 6TH ST ...,G,78701.0
23,4.0,SEXUAL ASSAULT W/ OBJECT,1-Jan-16,NaN,I,78752.0
24,5.0,BURGLARY OF RESIDENCE,1-Jan-16,1119 ECHO LN ...,F,78745.0
25,5.0,BURGLARY NON RESIDENCE,1-Jan-16,10140 OLD SAN ANTONIO RD ...,F,78748.0
26,3.0,BURGLARY NON RESIDENCE,1-Jan-16,903 MONTOPOLIS DR ...,H,78741.0
27,8.0,BURGLARY NON RESIDENCE,1-Jan-16,5100 ROADRUNNER LN ...,D,78749.0
28,9.0,BURGLARY OF VEHICLE,1-Jan-16,119 E 10TH ST ...,G,78701.0
29,7.0,THEFT BY SHOPLIFTING,1-Jan-16,3311 ESPERANZA XING ...,A,78758.0
...,...,...,...,...,...,...
37431,1.0,AGG ROBBERY/DEADLY WEAPON,31-Dec-16,7801 FM 969 RD ...,C,78725.0
37432,2.0,BURGLARY OF VEHICLE,31-Dec-16,12820 QUIRIN DR ...,H,78617.0
37433,1.0,BURGLARY OF VEHICLE,31-Dec-16,12041 DESSAU RD ...,E,78754.0
37434,3.0,THEFT,31-Dec-16,2707 S IH 35 SVRD NB ...,H,78741.0
37435,9.0,BURGLARY OF VEHICLE,31-Dec-16,2701 RIO GRANDE ST ...,B,78705.0
37436,8.0,BURGLARY OF VEHICLE,31-Dec-16,6636 W WILLIAM CANNON DR ...,D,78735.0
37437,5.0,THEFT,31-Dec-16,4211 S LAMAR BLVD NB ...,D,78704.0
37438,5.0,BURGLARY OF VEHICLE,31-Dec-16,5705 WEST GATE BLVD ...,D,78745.0
37439,7.0,BURGLARY OF VEHICLE,31-Dec-16,5400 N LAMAR BLVD ...,I,78756.0
37440,3.0,THEFT OF BICYCLE,31-Dec-16,2716 E 3RD ST ...,C,78702.0
37441,3.0,BURGLARY OF VEHICLE,31-Dec-16,2201 MONTOPOLIS DR ...,H,78741.0
37442,9.0,BURGLARY OF VEHICLE,31-Dec-16,3909 N IH 35 SVRD NB ...,C,78722.0
37443,9.0,BURGLARY OF VEHICLE,31-Dec-16,1620 E RIVERSIDE DR ...,H,78741.0
37444,7.0,THEFT,31-Dec-16,9061 RESEARCH BLVD NB ...,A,78758.0
37445,1.0,BURGLARY OF VEHICLE,31-Dec-16,12041 DESSAU RD ...,E,78754.0
37446,4.0,THEFT,31-Dec-16,8601 RESEARCH BLVD SVRD NB ...,E,78758.0
37447,2.0,THEFT,31-Dec-16,6607 S IH 35 SVRD NB ...,F,78744.0
37448,8.0,BURGLARY OF VEHICLE,31-Dec-16,4970 W US 290 HWY WB ...,D,78735.0
37449,7.0,BURGLARY OF VEHICLE,31-Dec-16,2211 W NORTH LOOP BLVD ...,B,78756.0
37450,8.0,BURGLARY OF VEHICLE,31-Dec-16,5604 SOUTHWEST PKWY ...,D,78735.0
37451,8.0,THEFT,31-Dec-16,5106 MAULDING PASS ...,D,78749.0
37452,3.0,THEFT,31-Dec-16,2200 S PLEASANT VALLEY RD ...,H,78741.0
37453,2.0,BURGLARY OF VEHICLE,31-Dec-16,901 LITTLE TEXAS LN ...,F,78745.0
37454,NaN,THEFT,31-Dec-16,7 BLUE QUAIL DR ...,E,NaN
37455,4.0,THEFT,31-Dec-16,7500 BLESSING AVE ...,I,78752.0
37456,7.0,THEFT,31-Dec-16,8822 MC CANN DR ...,B,78757.0
37457,9.0,THEFT,31-Dec-16,123 W 6TH ST ...,G,78701.0
37458,1.0,BURGLARY OF VEHICLE,31-Dec-16,5601 EXETER DR ...,I,78723.0
37459,3.0,BURGLARY OF VEHICLE,31-Dec-16,101 HERGOTZ LN ...,H,78742.0
37460,9.0,BURGLARY OF VEHICLE,31-Dec-16,701 W 28TH ST ...,B,78705.0

In [92]:
new_crime_rate_df = crime_rate_df[['Council District', 'GO Highest Offense Desc', 'GO Report Date', 'GO Location']].copy()
new_crime_rate_df = new_crime_rate_df.rename(index=str, columns={"Council District": "council_district","GO Highest Offense Desc": "highest_offense_desc", "GO Report Date": "report_date", "GO Location": "location"})
new_crime_rate_df.set_index("council_district", inplace=False)
new_crime_rate_df.head()

,council_district,highest_offense_desc,report_date,location
0,8.0,AGG ASLT ENHANC STRANGL/SUFFOC,1-Jan-16,8600 W SH 71 ...
1,9.0,THEFT,1-Jan-16,219 E 6TH ST ...
2,4.0,AGG ROBBERY/DEADLY WEAPON,1-Jan-16,701 W LONGSPUR BLVD ...
3,9.0,THEFT,1-Jan-16,404 COLORADO ST ...
4,4.0,SEXUAL ASSAULT W/ OBJECT,1-Jan-16,NaN

In [93]:
new_crime_rate_df.groupby(["council_district"]).count()

                  highest_offense_desc  report_date  location
council_district
1.0                               3731         3731      3642
2.0                               3329         3329      3234
3.0                               5933         5933      5819
4.0                               5245         5245      5125
5.0                               3164         3164      3127
6.0                               2057         2057      2012
7.0                               4249         4249      4192
8.0                               2072         2072      2051
9.0                               5895         5895      5780
10.0                              1530         1530      1510

In [110]:
# Dropped all unneccasry columns not relative to 2016
graduation_rates_df.head()
graduation_rates_df.drop(columns=['2015 Class Size', '2015 Graduated', '2015 Rate', '2014 Class Size', '2014 Graduated', '2014 Rate', '2013 Class Size', '2013 Graduated', '2013 Rate', '2012 Class Size', '2012 Graduated', '2012 Rate'])

,School Type,District,School,2016 Class Size,2016 Graduated,2016 Rate
0,Public,Austin ISD,Akins High School,656,506,0.77
1,Public,Austin ISD,Anderson High School,610,537,0.88
2,Public,Austin ISD,Austin HS,530,447,0.84
3,Public,Austin ISD,Bowie HS,742,655,0.88
4,Public,Austin ISD,Crockett Early College HS,403,332,0.82
5,Public,Austin ISD,Eastside Memorial Early College HS,136,106,0.78
6,Public,Austin ISD,Lanier Early College HS,388,292,0.75
7,Public,Austin ISD,LBJ Early College HS,175,152,0.87
8,Public,Austin ISD,Liberal Arts and Sciences Academy (LASA HS),259,251,0.97
9,Public,Austin ISD,McCallum HS,416,358,0.86
10,Public,Austin ISD,Reagan Early College HS,321,243,0.76
11,Public,Austin ISD,Rosedale School,27,0,0.00
12,Public,Austin ISD,Travis Early College HS,286,199,0.70
13,Public,Eanes ISD,Westlake High School,678,595,0.88
14,Public,Leander ISD,Vandegrift High School,548,468,0.85
15,Public,Pflugerville ISD,Connally HS,518,414,0.80
16,Public,Round Rock ISD,McNeil HS,641,536,0.84
17,Public,Round Rock ISD,Westwood HS,702,628,0.89
18,Charter,NaN,Chaparral Star Academy,26,15,0.58
19,Charter,KIPP Austin,KIPP Austin Collegiate,98,86,0.88
20,Charter,Harmony Public Schools,Harmony School of Excellence - Austin,40,39,0.98
21,Charter,Harmony Public Schools,Harmony Science Academy - Austin,108,88,0.81
22,Charter,NaN,NYOS Charter School,56,50,0.89

In [111]:
new_graduation_rates_df = graduation_rates_df[["School Type", "District", "School", "2016 Class Size", "2016 Graduated", "2016 Rate"]].copy()
new_graduation_rates_df = new_graduation_rates_df.rename(index=str, columns={"School Type": "school_type", "District": "district", "School": "school", "2016 Class Size": "2016_class_size", "2016 Graduated": "2016_graduated", "2016 Rate": "2016_rate"})
new_graduation_rates_df.head()

,school_type,district,school,2016_class_size,2016_graduated,2016_rate
0,Public,Austin ISD,Akins High School,656,506,0.77
1,Public,Austin ISD,Anderson High School,610,537,0.88
2,Public,Austin ISD,Austin HS,530,447,0.84
3,Public,Austin ISD,Bowie HS,742,655,0.88
4,Public,Austin ISD,Crockett Early College HS,403,332,0.82

In [95]:
new_graduation_rates_df.groupby(["school_type"]).count()

             district  school  2016_class_size  2016_graduated  2016_rate
school_type
Charter             3       5                5               5          5
Public             18      18               18              18         18

### Create Connection

In [105]:
rds_connection_string = "root:password@localhost/etlscript_db"
engine = create_engine(f'mysql://{rds_connection_string}')

In [106]:
engine.table_names()

['crime_rate', 'graduation_rates']

###  Load DataFrames into Database

In [100]:
new_crime_rate_df.to_sql(name='crime_rate', con=engine, if_exists='append', index=False)

In [104]:
new_graduation_rates_df.to_sql(name='graduation_rates', con=engine, if_exists='append', index=False)